/* 
code issues to fix:
css efficiency ( add flexboxes)
media screen
missing front star??
linking portfolio
move intro text further from photos?
sticky logo in left corner?
 linking ids down from nav bar
*/


body { 
	background-color:rgba(238.00000101327896, 232.32768058776855, 227.09166795015335, 1);
    width: 100%;
}

/* ---------NAV BAR----------  */

.navbar { 
	position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: .5em;

}
.navbar ul{
	display: flex;
	justify-content: flex-end;
	justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
	font-size:25px;
	
}

#dropshadow { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:100%;
	height:100px;
	position:absolute;
	left:19px;
	top:19px;
}



/* ---------HERO BANNER----------  */

.hero_banner { 
	width:1670px;
	height:884px;
    position: absolute;
	left:-115px;
	top:0px;
}

.heroposition { 
	width:1228px;
	height:682px;
	position:absolute;
	left:221px;
	top:202px;
}
#backstar { 
	width:70%;
	height:90%;
	position:absolute;
	right: 250px;;
	top:50px;
}
#photo2 { 
	width:360px;
	height:338px;
	position:absolute;
	left:999px;
	top:115px;
}
#frontstar { 
	transform: rotate(-20.61102287099412deg);
	width:100px;
	height:100px;
	position:absolute;
	left:1100px;
	top:67px;
}

#photo1 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:465px;
	height:369px;
	position:absolute;
	left:777px;
	top:295px;
	border-top-left-radius:136px;
	border-top-right-radius:136px;
	border-bottom-left-radius:136px;
	border-bottom-right-radius:136px;
	background-image:url(/img/photo1.png);
	background-repeat:no-repeat;
	background-size:cover;
}

#howdy { 
	color:rgba(40.37499949336052, 40.37499949336052, 40.37499949336052, 1);
	width:682px;
	height:824px;
	position:absolute;
	left:115px;
	top:54px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:69px;
	letter-spacing:0;
}

/* ----- WORK EXPERIENCE ------ */

.workexperience { 
	width:1256px;
	height:662px;
	position:absolute;
	left:92px;
	top:1265px;
}

.workexperience h2{
	width: 600px;
	height:40px;
	position:relative;
	left:0px;
	top:0px;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
	font-weight: normal;
}


.workgrid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
  	align-content: center;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 100%;
    /* grid-template-columns: 1fr, 1fr, 1fr; */
    column-gap: 7%;
}
#workid{
}

.workgrid p{
	font-size:35px;
}

.workgrid img{
	width:100%
}

/* ----------- ABOUT ME -------------- */

.about_me { 
	width:1284px;
	height:794.5px;
	position:absolute;
	left:78px;
	top:2310px;
}

.about_me h2 { 
	width:587px;
	height:45px;
	position:absolute;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}

.about_me hr{
	transform: rotate(-0.000004954341783317973deg);
	width:1284px;
	height:0px;
	top
}

#about_me { 
	width:535px;
	height:500px;
	position:absolute;
	left:4px;
	top:163.5px;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}

.scroll_abilities { 
	width:1284px;
	height:51px;
	position:absolute;
	left:0px;
	top:744px;
}

.scroll_abilities p { 
	display: block;
	width: 300%;
  	transform: translateX(100%);
	animation: move 90s linear infinite 
}

@keyframes move {
	to { transform: translateX(-100%); }
  }

.abilities { 
	width:372px;
	height:320px;
	position:absolute;
	left:800px;
	top:110px;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:px;
}

.abilities h3{
	font-weight: normal;
}


/*----------- CONTACT -------------*/

.contact { 
	width:1284px;
	height:609px;
	position:absolute;
	left:78px;
	top:3485.482177734375px;
}
.contact h2 { 
	width:660px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:left;
	font-size:45.06329345703125px;
	letter-spacing:0;
}

.socials { 
	width:530px;
	height:277px;
	position:absolute;
	left:4px;
	top:195px;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}

@media only screen and (max-width:500px){
    .grid {
       background-color: aquamarine;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0 20px;
        max-width: 980px;
        /* grid-template-columns: [article] 75% [gallery] 25% [end];
        column-gap: 7%; */
      }

      nav ul {
        display: grid;
        grid-template-columns: repeat(1, 5fr);
        margin: 0;
        padding: 0;
        list-style: none;
      }
  }