* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
  
  @font-face {
	font-family:Arial, Helvetica, sans-serif;
  }
    
  :root {
  --white: #ffffff;
  --light-grey: #581172;
  --violet: #1b1759;
  --dark-violet: #aba6e9;
  --black: #3c0e70;
}



ul {
  list-style: none;
}


.notification {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background: var(--violet);
}
  
  section {
	height: 100vh;
	width: 100vw;
	flex-shrink: 0;
  }
  
  .section-1 {
	display: flex;
	background-image: url(/img/intro-bg.jpg);
	background-repeat: no-repeat;
	background-size: 1200px 800px;
  }

  .side-bar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 65px;
	background-color: #fff;
	height: 100%;
	padding: 1rem;
	position: fixed;
	left: -10%;
	top: 0;
	opacity: 0;
	/* z-index: 11; */
  }
  
  .side-bar div {
	transform: rotate(-90deg);
  }

  .nav {
	position: relative;
	display: flex;
	justify-content: center;
	max-width: 400px;
	margin: 200px auto 0;
	box-shadow: rgb(50 50 93 / 10%) 0 30px 60px -12px,
	  rgb(0 0 0 / 15%) 0 18px 36px -18px;
  }
  
  .nav [type="checkbox"] {
	position: absolute;
	left: -9999px;
  }
  
  .nav [type="checkbox"] + label {
	background-image: url("/img/backstar.png");
	position: relative;
	width: 175px;
	height: 175px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	cursor: pointer;
	z-index: 1; /* brings label front */
	/* background: var(--violet); */
	border-radius: 50%;
	transform: translateY(-50%);
	transition: all 0.2s;
  }
  
  .nav [type="checkbox"] + label:hover {
	background: var(--dark-violet);
  }
  
  .menu li {
	position: absolute;
	top: -25px;
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.4s;
  }
  
  .menu li:nth-child(1) {
	transition-delay: 0.2s;
  }
  
  .menu li:nth-child(2) {
	transition-delay: 0.15s;
  }
  
  .menu li:nth-child(3) {
	transition-delay: 0.1s;
  }
  
  .menu li:nth-child(4) {
	transition-delay: 0.05s;
  }
  
  .menu li a {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--violet);
  }
  
  .menu li a span {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(calc(-100% - 5px));
	width: 100%;
	font-size: 13px;
	white-space: nowrap;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.3s;
	color: var(--black);
	font-weight: bold;
  }
  
  .nav input:checked + label {
	background: var(--black);
	transform: translateY(calc(-50% + 4px));
  }
  
  .nav input:checked ~ .menu li:nth-child(1) {
	top: -210px;
	transition-delay: 0.1s;
  }
  
  .nav input:checked ~ .menu li:nth-child(2) {
	top: -160px;
	left: calc(50% - 75px);
	transition-delay: 0.2s;
  }
  
  .nav input:checked ~ .menu li:nth-child(3) {
	top: -160px;
	left: calc(50% + 75px);
	transition-delay: 0.3s;
  }
  
  .nav input:checked ~ .menu li:nth-child(4) {
	top: -110px;
	transition-delay: 0.4s;
  }
  
  .nav input:checked ~ .menu li a span {
	opacity: 1;
	transition-delay: 0.9s;
  }
  
  .section-2 {
	transform: translate(5%);
  }
  
  .main-wrapper {
	display: flex;
  }
  
  .section-3 {
	background-color: black;
	margin-top: -100vh;
	position: relative;
	overflow: hidden;
  }
  
  .box1 {
	width: 65%;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .name {
	font-size: 105px;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	width: 50%;
  }

a {
  color: inherit;
  text-decoration: none;
}

.notification {
  position: absolute;
  top: 0;
  right: 0;
  /* padding: 10px; */
  background: var(--violet);
}

.ul {
	list-style: none;
    padding: 0;
	}

.li {
	text-align: center;
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	list-style-type: none
	}

  .navbar{
	text-align: center;
	display: inline-block;
	width: 65%;
  }
  
  .box2 {
	width: 35%;
  }
  
  .image-gallery {
	display: flex;
	height: 100vh;
  }
  
  .col {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  
  img {
	min-height: 300px;
	height: auto;
	width: 300px;
	object-fit: cover;
	background-color: black;
  }
  
  .col-1 img,
  .col-3 img {
	padding: 0.2rem 0.5rem;
  }
  
  .col-2 img {
	padding: 0.2rem 0;
  }
  
  .wrapper {
	display: flex;
	width: 100%;
	height: 100%;
  }
  
  .left {
	width: 65%;
	padding: 0 0.8rem;
	padding-left: 0;
	padding-bottom: 0.5rem;
  }
  
  .left img {
	width: 100%;
	height: 400px;
	object-fit: cover;
  }
  
  p {
	font-size: 80px;
  }
  
  .line-1 {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
  }
  
  .line-2 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
  }
  
  .num {
	text-align: left;
	width: 100%;
  }
  
  .loop {
	height: 30px;
	width: 120px;
	white-space: nowrap;
	overflow: hidden;
	background: none;
	border: 1px solid #444;
	position: absolute;
	top: 75%;
	left: 80%;
	cursor: pointer;
  }
  
  .loop span {
	animation: loop 10s linear infinite;
	display: inline-block;
	padding-left: 110%;
  }
  
  .loop2 span {
	animation-delay: 5s;
  }
  
  @keyframes loop {
	0% {
	  transform: translate(0, 0);
	}
	100% {
	  transform: translate(-100%, 0);
	}
  }
  
  .right {
	width: 35%;
  }
  
  .animate-text {
	height: 120px;
	background-color: black;
	color: #fff;
	font-size: 100px;
	white-space: nowrap;
	overflow: hidden;
  }
  
  .animate-text span {
	animation: loop 10s linear infinite;
	display: inline-block;
  }
  
  .img-container {
	width: 100%;
	height: 780px;
	padding: 0.5rem;
	background-color: black;
  }
  
  .img-container img {
	width: 100%;
	object-fit: cover;
  }
  
  .rows {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 125%;
	gap: 0.5rem;
  }
  
  .row {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5rem;
	height: 33.33%;
	color: #fff;
  }
  
  .row-2 {
	background-color: #fff;
	color: black;
  }
  
  .row li {
	font-size: 220px;
	transform: translateX(50%);
  }
  
  
  .des {
	font-size: 10px;
	width: 200px;
	text-transform: uppercase;
	margin-bottom: 5rem;
  }