.container {
    position: absolute;
    width: 100%; 
  }
  
  /* Bottom right text */
  .text-block {
    position: absolute;
    bottom: 40px;
    right: 40px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

  .text-block2 {
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

.parent {
    position: relative;
    top: 0;
    left: 0;
  }
  .image1 {
    position: relative;
    top: 0;
    left: 0;
    
  }
  .image2 {
    position: absolute;
    width: 20%;
    height: 25%;
    top: 0em;
    left: 0em;
    border: 1px green solid;
    linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bmo.jpg)
}