.container {
    position: relative;
    width: 100%; 
  }
  
  /* Bottom right text */
  .text-block {
    position: absolute;
    bottom: 40px;
    right: 40px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

  p.text-with-bg-img {
    background-image: url(../img/bmo2.jpg);
    background-size: cover; /* or contain */
}