body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(180, 127, 208);
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:30px;
    background-color: rgb(101, 65, 135);
}

nav:hover{
    background-color: rgb(224, 61, 224);
}


nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:rgb(227, 195, 235);
}


img{
    width:30vw;
    height: 30vh;
}

#nav1:hover{
    background-color: purple;
}

#red-ball{
    background-color: rgb(161, 47, 134);
    width: 60px;
    height:60px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
    animation: ball2move 10s ease-in 2s infinite alternate;
} 


@keyframes ball2move{
    0% {
        top: 0;
      }
      50% {
        top: 130px;
        left: 120px;
        background-color: rgb(122, 72, 122);
      }
      50% {
        top: 200px;
      }
      100% {
        top: 0;
    }
}