/* basics and set up */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* importing fonts ( credit to : prabinmagar ) */
:root{
    --Montserrat: 'Montserrat Display', sans-serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --dark: #461655;
    --exDark: #2b2b2b;
}

/* selector */
*{
    font-family: var(--Quicksand);
}

body {
  background-image: url("/img/siteback.jpeg");
  background-color: #cccccc;
 }

/* main page title */

    .title{
    display: flex; /* sets as flex container */
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw; 
    }

    .title div{
    width: 20em;
    text-align: center;
    }

/* blog page title */

   .page-title{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
   }

/* navigation bar on start page */
    .main-nav{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    }  
 
/* navigation bar on individual blog pages */
    .blog-nav{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        padding-left: 1em;
        padding-top: 1em;
    }

/* article settings */
    .article{
        display: flex;
        justify-content: space-around;
        background-color: white;


    }

    .blog-format {
        justify-content: space-around;
        padding: 2em;
    }


    /* trying to create seamless photo integration */

    .blog-format ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        padding-right: 1em;
    }

    .blog-format li {
        height: 40vh;
        flex-grow: 1;
    }

    /* does this do anything idk */
    li:last-child{
        flex-grow: 10;
    }

    .blog-format img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    }

    /*images that need to be big*/
    .fullsize{
        height: 70vh;
        object-fit: cover;
    }